<div class="background-new" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('https://images.pexels.com/photos/3560168/pexels-photo-3560168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">

  <h2 class="homepage-titles">Edit your diving informations : <%= @participation.diving.spot.name %></h2>

  <%= render 'participations/partials/form', participation: @participation %>

  <br>

  <div>
    <%= link_to "Show this participation", @participation %> |
    <%= link_to "Back to my participations", participations_path %>
  </div>
