<h2>Edit your participation : <%= @participation.diving.spot.name %></h2>

<%= render 'participations/partials/form', participation: @participation %>

<br>

<div>
  <%= link_to "Show this participation", @participation %> |
  <%= link_to "Back to my participations", participations_path %>
</div>
