<% content_for :page_title, "Edit your diving informations :" %>
<div class="background">

  <div class="container">

    <h3 class="spot_name_edit"><%= @participation.diving.spot.name %></h3>

    <%= render 'participations/partials/form_edit_participations', participation: @participation %>

    <br>

    <div>
      <%= link_to "Show this participation", @participation %> |
      <%= link_to "Back to my participations", participations_path %>
    </div>

  </div>

</div>
