<% content_for :page_title, "Your dives" %>
<div class="background">

  <div class="container">

    <div data-controller="searchbar">

      <%= render 'shared/search_form' %>

      <%= turbo_frame_tag :participations, target: "_top" do %>
        <div class="container">
          <%= render 'participations/partials/cards_participations' %>
        </div>
      <% end %>

    </div>

  </div>

</div>

<%= render "shared/tapbar" %>
