<div class="background">

  <div class="container">

  <div class="div-banner">
    <h2 class="titles">Next spot ?</h2>
    <%= cl_image_tag current_user.photo.key, id:"avatar", height: 60, width: 60, crop: :fill%>
  </div>

    <h4 class="titles">Featured destinations</h4>

    <%= render 'pages/partials/carousel' %>

    <%= render 'spots/partials/map' %>

  </div>

</div>

<%= render 'shared/tapbar' %>
