// Define variables for your color scheme

// titles
$dark-blue: #0C0150;

// background
$background-blue: #D1E6FF;

//inactive icons
$icon-blue: #8da3d6;

// active icons and stars
$turquoise: #10A59C;

// card-titles
$marine: #09339E;

// card-infos
$light-blue: #5B77BE;

// card-background
$white-background: #F4F9FF;

// stats
$white-text: #E7F2FF;

// nav bar
$navbar-color: #D1E6FF;

//launch + boxes
$launch-blue: #05309F;
