.species_game{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-top: 40px;
}

.button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animal-photo-center{
  display: flex;
  justify-content: space-between;
}

.winner_animal{
  background-color: $white-background;
  box-shadow: 0 0 15px rgba(34,165,157,0.6);
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  color: $marine;
}

.congrats{
  // background-color: $white-background;
  box-shadow: 0 0 15px rgba(34,165,157,0.6);
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  color: $marine;
}

.loose{
  // background-color: $white-background;
  box-shadow: 0 0 15px rgba(247, 4, 4, 0.6);
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  color: $marine;
}

.border-success{
  border: rgba(24, 178, 1, 0.6) solid 6px;
}

.looser-opacity{
  opacity: 0.6;
}
