
#homeCarousel {
  padding: 10px;
  .carousel-item img {
    height: 180px;
    object-fit: cover;
    width: 100%;
    border-radius: 7px;
  }
}

#name_spot_caroussel{
  color: white;
}

.stats_home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.statistic {
  width: 160px;
  margin: 10px;
  padding: 20px;
  background-color: $marine;
  // border: 1px solid #ccc;
  text-align: center;
  border-radius: 12px;
  color: $white-text;
  // font-size: 30px;
  // line-height: 41px;
}

.stat-time {
  height: 50%;
}
