.stats_home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.statistic {
  width: 160px;
  margin: 10px;
  padding: 20px;
  background-color: $launch-blue;
  background: linear-gradient(
    to top,
    rgba(5, 48, 159, 1),
    rgba(91, 119, 190, 1)
    );
  text-align: center;
  border-radius: 7px;
  color: $white-text;
}

.number {
  font-weight: bold;
}
