.background-show {
  background-color: $background-blue;
  background-position: center;
  background-size: 100% 100%;
  min-height: 100vh;
}

.spot-photo {
  border-radius: 5px;
}

.text-container {
  margin: auto;
  margin-bottom: 15px;
}

#title {
  text-align: left;
  color: $dark-blue;
}

#rating {
  text-align: center;
}

#date {
  text-align: left;
}
