.spot-description{
  overflow: hidden;
  background-color: $white-background;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.diving-date-list{
  margin-top: 20px;
  overflow: hidden;
  background-color: $white-background;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
}
