.text-container {
  margin: auto;
  margin-bottom: 15px;
}

#rating {
  text-align: center;
}

.stats-show {
  background-color: white;
  color: $marine;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
}


.show-photo{
  border-radius: 50%;
}

.animals-show {
  list-style-type: none;
}
