<div class="scubapp-nav">
  <div class="home-link">
    <a href="/"><i class="fa-solid fa-house"></i></a>
  </div>
  <div class="search-icon">
  <a href="/"><i class="fa-solid fa-magnifying-glass"></i></a>
  </div>
  <div class="new-diving">
    <a href="/divings/new"><i class="fa-sharp fa-solid fa-plus"></i></a>
  </div>
  <div class="map-search">
    <a href="/spots"><i class="fa-solid fa-map"></i></a>
  </div>
  <div class="profile-photo">
    <%= link_to "MM", participations_path%>
  </div>
</div>
