<div class="homepage-container">

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="card-category">
          <%= @divings[0].spot.name %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card-category">
          <%= @divings[1].spot.name %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card-category">
          <%= @divings[2].spot.name %>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="earth-container">
    <%= link_to spots_path do %>
      <div id="earth"></div>
    <% end %>
  </div>

</div>
