.cards {
  display: grid;
  grid-template-columns: 1fr;
}

.card-participation {
  overflow: hidden;
  background-color: $white-background;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-weight: bold;
}

.card-participation {
  img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  }
}

.card-participation {
  h2 {
    font-size: 16px;
    margin: 0;
  }
}

.card-participation {
  p {
  opacity: .7;
  margin: 0;
  color: $marine;
  }
}

.card-participation {
  .card-infos {
  position: relative;
  padding: 6px 3px;
  }
}

a {
  color: $marine;
  text-decoration: none;
}

.row {
  padding: 0 8px 8px;
}

#date, #temp {
  text-align: right;
}

// .action-icons {
//   position: absolute;
//   right: 16px;
//   top: 10px;
// }
