.form-container {
  // z-index: 1;
  // background-color: rgba(250, 249, 249, 0.511);
  // background-size: cover;
  // background-position: center;
  // border-radius: 8px;
  padding: 10px;
  // color: rgb(0, 0, 0);
  // box-shadow: 20px;
  // margin-bottom: 5px;
  .form-floating {
    color: initial;
  }

  .form-floating > .form-control {
    height: min-content;
  }

}

.fa-2xl {
  font-size: 2.8em !important;
}

.spot {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.name {
  font-size: 10px;
  text-align: center;
}

// DIVING
.titi {
  margin-right: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.titi input[type="radio"]+label {
  opacity: 0.6;
  color: $icon-blue;
}

.titi input[type="radio"]:checked+label {
  opacity: 1;
  transition: 0.1s;
  color: $turquoise;
}

// PARTICIPATION
.wrapper {
  margin-right: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper input[type="checkbox"]+label {
  opacity: 0.6;
  color: $icon-blue;
}

.wrapper input[type="checkbox"]:checked+label {
  opacity: 1;
  transition: 0.1s;
  color: $turquoise;
}


.horizontal-scroll {
  margin-bottom: 5px;
  overflow-x: scroll;
  position: relative;
}

.button-container {
  text-align: center;
}

.input-case {
  margin-bottom: 40px;
}

.input-title {
  display: flex;
  justify-content: center;
  color: $marine;
  font-weight: bold;
}

.name {
  color: $marine;
  font-size: 15px;
}

.form-label {
  display: flex;
  justify-content: center;
  color: $marine;
}

.calendar {
  margin-top: 30px;
}

.select-your-spot {
  margin-top: 20px;
}

.select-your-school {
  margin-top: 20px;
}

.range_graduation {
  display: flex;
  justify-content: space-between;
  color: $marine;
}

.w100 {
  width: 100%;
}

.weather-icons {
  display: flex;
  justify-content: center;
}

.stars-rating {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
