.form-container{
  z-index: 1;
  background-color: rgba(2, 2, 2, 0.293);
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  padding: 10px;
  color: white;
  margin-bottom: 5px;
  // padding-bottom: 35px;
}

.spot{
  border-radius: 50px;
  width: 45px;
  height: 45px;
}

.name{
  font-size: 10px;
  text-align: center;
}

.titi {
  margin-right: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.titi input[type="radio"]+label {
  opacity: 0.6;
}

.titi input[type="radio"]:checked+label {
  opacity: 1;
  transition: 0.1s
}

.horizontal-scroll {
  margin-bottom: 5px;
  overflow-x: scroll;
  position: relative;
}

.btn{
  border-radius: 40px;
}

.button-container{
  text-align: center;
}


/* PARTIE ANYSSA : SUITE DU FORM BARRE GRADUEE */


.range_graduation {
  display: flex;
  justify-content: space-between;
}

.w100{
  width: 100%;

.weather-icons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 6px;
}
