.scubapp-ban {
    display: flex;
    top: 0;
    background-color: transparent;
  }

  .title {
    color: $dark-blue;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    font-size: 30px;
  }
