.scubapp-ban{
    display: flex;
    // position: sticky;
    top: 0;
    background-color: $background-blue;
    padding: 8px;
    padding-top: 10px;
  }

  .title{
    color: $dark-blue;
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }
