<div class="background-new" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/3560168/pexels-photo-3560168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">

  <div class="container">
    <h1>Add a new dive</h1>
    <p>Add a new dive to your dashboard</p>

  <%= render "divings/partials/diving_form" %>
  </div>

</div>
